@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Alan Sans", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
   background-color: #514a9d;
}


#main img{
   height: 250px;
   border-radius: 10px;
   object-fit: cover;
}
.btns {
    display: flex;
    gap: 5px;  
}
.btns button {
    position: relative;
    padding: 7px 7px;
    border-radius: 50%;
    font-size: 1.5rem;
    border: 2px solid #b6f168;
    color: #b6f168;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.btns button::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #29ffe1, #00ff9f);
    transition: all 0.5s ease;
    z-index: 0;
}

.btns button:hover::before {
    left: 0;
}

.btns button i {
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.btns button:hover i {
    color: #000; 
}
